* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: Arial, sans-serif;

}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 10px;
    padding: white;
    text-align: center;

}


header {
    height: 60px;
    background-color: #a3d8ff;
    border-bottom: 10px solid white;
    line-height: 60px;
    text-align: center;

}

nav {
    height: 40px;
    background-color: #f7bfbf;
    padding-top: 10px white;
    line-height: 40px;
    text-align: center;
}

footer {
    height: 60px;
    background-color: rgb(221, 246, 185);
    line-height: 60px;
    text-align: center;
}

.content {
    display: flex;
    flex-grow: 1;
    gap: 10px;
    padding: 10px;
    background-color: #f4f4f4;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    gap: 10px;

}

section, article, aside {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    flex-grow: 1;
}


section {
    background-color: rgb(241, 241, 191);
    
}

article {
    background-color: lavender;
}

aside {
    flex-basis: 10%;
    background-color: #ffe8a3;

}