* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-button {
    background-color: #5dade2; 
    color: white; 
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 100px 0; 
}

.cta-button:hover {
    background-color: #3498db; 
}
