* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    overflow: hidden;

}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 600px;
    background-color: #5dade2;
    position: relative;
    border-radius: 5px;

}

.little-block {
    background-color: #5dade2;
    width: 350px;
    height: 550px;
    position: absolute;
    padding: 10px 10px;
    overflow: hidden
}

.horizontal-line {
    background-color: #f4d03f;
    position: absolute;
    height: 5px;
    left: 0px;
    right: 0px
}

.top-line {
    top: 20px;
}

.bottom-line {
    bottom: 20px;
}

.vertical-line {
    background-color: #f4d03f;
    position: absolute;
    width: 5px;
    top: 0px;
    bottom: 0px;
}

.left-line {
    left: 20px;
}

.right-line {
    right: 20px;
}

.ribbon {
    position: absolute;
    background-color: #f4d03f;
    color: #000;
    top: 150px;
    bottom: 200px;
    left: 80px;
    width: 350px;
    height: 30px;
    text-align: center;
    transform: rotate(45deg);
    transform-origin: top right;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

}