* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; 
    overflow: hidden;
    
}

.block {
    width: 400px;
    height: 600px;
    background-color: #5dade2; 
    position: relative;
    border-radius: 5px;
   
}

.horizontal-line {
    background-color: #f4d03f;
    position: absolute;
    height: 5px;
    left: 0px;
    right: 0px
}

.top-line {
    top: 20px; 
}

.bottom-line {
    bottom: 20px; 
}

.vertical-line {
    background-color: #f4d03f;
    position: absolute;
    width: 5px;
    top: 0px;
    bottom: 0px;
}

.left-line {
    left: 20px;
}

.right-line {
    right: 20px;
}

.ribbon {
    background-color: #f4d03f; /* Желтый фон для ленты */
    color: #000; /* Черный текст */
    padding: 0px 0px; /* Уменьшен отступ */
    position: absolute;
    top: 75px;
    right: 0; /* Измените на нужное значение */
    width: 100px; /* Уменьшите ширину, если необходимо */
    text-align: center;
    transform: rotate(45deg);
    transform-origin: top right; /* Настройте точку поворота */
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    z-index: 20; /* Лента выше линий */
}
